/*****************************
 * kfrap.ru
 * Basic css style for frontend
 ****************************/

a:link	{ color: #0E517E; text-decoration: none; }
a:visited	{ color: #105289; text-decoration: none; }
a:hover	{ color: #0E517E; text-decoration: underline; }
a:active	{ color: #368AD2; text-decoration: none; }


/* Кнопка*/

.btn {
    display: inline-block;
    padding: 2px 10px;
    margin-bottom: 0;
    font-size: 13px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: whiteSmoke;
    background-image: -moz-linear-gradient(top, white, #E6E6E6);
    background-image: -ms-linear-gradient(top, white, #E6E6E6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    background-image: -o-linear-gradient(top, white, #E6E6E6);
    background-image: linear-gradient(top, white, #E6E6E6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border-color: #E6E6E6 #E6E6E6 #BFBFBF;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    border: 1px solid #CCC;
    border-bottom-color: #B3B3B3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}


.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

/* Формы*/

.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both;
}
.hide-text {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.input-block-level {
    display: block;
    width: 100%;
    min-height: 28px;
    /* Make inputs at least the height of their button counterpart */

    /* Makes inputs behave like true block-level elements */

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
form {
    margin: 0 0 18px;
}
fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}
legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 27px;
    font-size: 19.5px;
    line-height: 36px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #eee;
}
legend small {
    font-size: 13.5px;
    color: #999999;
}
label,
input,
button,
select,
textarea {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}
input,
button,
select,
textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
label {
    display: block;
    color: #333333;
}
input,
textarea,
select,
.uneditable-input {
    display: inline-block;
    width: 210px;
    height: 14px;
    padding: 4px;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
    color: #555555;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.uneditable-textarea {
    width: auto;
    height: auto;
}
label input,
label textarea,
label select {
    display: block;
}
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
    width: auto;
    height: auto;
    padding: 0;
    margin: 3px 0;
    *margin-top: 0;
    /* IE7 */

    line-height: normal;
    cursor: pointer;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0 \9;
    /* IE9 and down */

}
input[type="image"] {
    border: 0;
}
input[type="file"] {
    width: auto;
    padding: initial;
    line-height: initial;
    border: initial;
    background-color: #ffffff;
    background-color: initial;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
    width: auto;
    height: auto;
}
select,
input[type="file"] {
    height: 28px;
    /* In IE7, the height of the select element cannot be changed by height, only font-size */

    *margin-top: 4px;
    /* For IE7, add top margin to align select with labels */

    line-height: 28px;
}
input[type="file"] {
    line-height: 18px \9;
}
select {
    width: 220px;
    background-color: #ffffff;
}
select[multiple],
select[size] {
    height: auto;
}
input[type="image"] {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
textarea {
    height: auto;
}
input[type="hidden"] {
    display: none;
}
.radio,
.checkbox {
    padding-left: 18px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
    float: left;
    margin-left: -18px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
    padding-top: 5px;
}
.radio.inline,
.checkbox.inline {
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 0;
    vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
    margin-left: 10px;
}
input,
textarea {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

:focus{
    outline: none !important;
}

input:focus,
textarea:focus {
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.input-mini {
    width: 60px;
}
.input-small {
    width: 90px;
}
.input-medium {
    width: 140px;
    height: 11px;
}
.input-large {
    width: 210px;
}
.input-xlarge {
    width: 270px;
}
.input-xxlarge {
    width: 530px;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input {
    float: none;
    margin-left: 0;
}
input,
textarea,
.uneditable-input {
    margin-left: 0;
}
input.span12, textarea.span12, .uneditable-input.span12 {
    width: 930px;
}
input.span11, textarea.span11, .uneditable-input.span11 {
    width: 850px;
}
input.span10, textarea.span10, .uneditable-input.span10 {
    width: 770px;
}
input.span9, textarea.span9, .uneditable-input.span9 {
    width: 690px;
}
input.span8, textarea.span8, .uneditable-input.span8 {
    width: 610px;
}
input.span7, textarea.span7, .uneditable-input.span7 {
    width: 530px;
}
input.span6, textarea.span6, .uneditable-input.span6 {
    width: 450px;
}
input.span5, textarea.span5, .uneditable-input.span5 {
    width: 370px;
}
input.span4, textarea.span4, .uneditable-input.span4 {
    width: 290px;
}
input.span3, textarea.span3, .uneditable-input.span3 {
    width: 210px;
}
input.span2, textarea.span2, .uneditable-input.span2 {
    width: 130px;
}
input.span1, textarea.span1, .uneditable-input.span1 {
    width: 50px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    background-color: #eeeeee;
    border-color: #ddd;
    cursor: not-allowed;
}
.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
    color: #c09853;
}
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
    color: #c09853;
    border-color: #c09853;
}
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
    border-color: #a47e3c;
    -webkit-box-shadow: 0 0 6px #dbc59e;
    -moz-box-shadow: 0 0 6px #dbc59e;
    box-shadow: 0 0 6px #dbc59e;
}
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #c09853;
}
.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
    color: #b94a48;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
    color: #b94a48;
    border-color: #b94a48;
}
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
    border-color: #953b39;
    -webkit-box-shadow: 0 0 6px #d59392;
    -moz-box-shadow: 0 0 6px #d59392;
    box-shadow: 0 0 6px #d59392;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #b94a48;
}
.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline {
    color: #468847;
}
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
    color: #468847;
    border-color: #468847;
}
.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
    border-color: #356635;
    -webkit-box-shadow: 0 0 6px #7aba7b;
    -moz-box-shadow: 0 0 6px #7aba7b;
    box-shadow: 0 0 6px #7aba7b;
}
.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
    color: #468847;
    background-color: #dff0d8;
    border-color: #468847;
}
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
    color: #b94a48;
    border-color: #ee5f5b;
}
input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}
.form-actions {
    padding: 17px 20px 18px;
    margin-top: 18px;
    background-color: #eeeeee;
    border-top: 1px solid #ddd;
    *zoom: 1;
}
.form-actions:before,
.form-actions:after {
    display: table;
    content: "";
}
.form-actions:after {
    clear: both;
}
.uneditable-input {
    display: block;
    background-color: #ffffff;
    border-color: #eee;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
    cursor: not-allowed;
}
:-moz-placeholder {
    color: #999999;
}
::-webkit-input-placeholder {
    color: #999999;
}
.help-block,
.help-inline {
    color: #555555;
}
.help-block {
    display: block;
    margin-bottom: 9px;
}
.help-inline {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
    vertical-align: middle;
    padding-left: 5px;
}
.input-prepend,
.input-append {
    margin-bottom: 5px;
}
.input-prepend input,
.input-append input,
.input-prepend select,
.input-append select,
.input-prepend .uneditable-input,
.input-append .uneditable-input {
    *margin-left: 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.input-prepend input:focus,
.input-append input:focus,
.input-prepend select:focus,
.input-append select:focus,
.input-prepend .uneditable-input:focus,
.input-append .uneditable-input:focus {
    position: relative;
    z-index: 2;
}
.input-prepend .uneditable-input,
.input-append .uneditable-input {
    border-left-color: #ccc;
}
.input-prepend .add-on,
.input-append .add-on {
    display: inline-block;
    width: auto;
    min-width: 16px;
    height: 18px;
    padding: 4px 5px;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    vertical-align: middle;
    background-color: #eeeeee;
    border: 1px solid #ccc;
}
.input-prepend .add-on,
.input-append .add-on,
.input-prepend .btn,
.input-append .btn {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.input-prepend .active,
.input-append .active {
    background-color: #a9dba9;
    border-color: #46a546;
}
.input-prepend .add-on,
.input-prepend .btn {
    margin-right: -1px;
}
.input-append input,
.input-append select .uneditable-input {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.input-append .uneditable-input {
    border-left-color: #eee;
    border-right-color: #ccc;
}
.input-append .add-on,
.input-append .btn {
    margin-left: -1px;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
    margin-right: -1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
    margin-left: -1px;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.search-query {
    padding-left: 14px;
    padding-right: 24px;
    margin-bottom: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}
.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input,
.form-search .input-prepend,
.form-inline .input-prepend,
.form-horizontal .input-prepend,
.form-search .input-append,
.form-inline .input-append,
.form-horizontal .input-append {
    display: inline-block;
    margin-bottom: 0;

}
.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
    display: none;
}
.form-search label,
.form-inline label {
    display: inline-block;
}
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
    margin-bottom: 0;
}
.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
    padding-left: 0;
    margin-bottom: 0;
    vertical-align: middle;
}
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
    float: left;
    margin-left: 0;
    margin-right: 3px;
}
.control-group {
    margin-bottom: 9px;
}
legend + .control-group {
    margin-top: 18px;
    -webkit-margin-top-collapse: separate;
}
.form-horizontal .control-group {
    margin-bottom: 18px;
    *zoom: 1;
}
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
    display: table;
    content: "";
}
.form-horizontal .control-group:after {
    clear: both;
}
.form-horizontal .control-label {
    float: left;
    width: 140px;
    padding-top: 5px;
    text-align: right;
}
.form-horizontal .controls {
    margin-left: 160px;
    /* Super jank IE7 fix to ensure the inputs in .input-append and input-prepend don't inherit the margin of the parent, in this case .controls */

    *display: inline-block;
    *margin-left: 0;
    *padding-left: 20px;
}
.form-horizontal .help-block {
    margin-top: 9px;
    margin-bottom: 0;
}
.form-horizontal .form-actions {
    padding-left: 160px;
}
/**********************
 *  -- begin layout --
 *********************/

*{
	margin: 0;
	padding: 0;
}

body
{
	display: block;
	margin: 0;
	border: none;
	clear: both;
	background: url('../../../images/bg-pattern2.png');
	font: 12px "Trebuchet MS", sans-serif;
}

#page-wrapper
{
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 18px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid #d3d5d1;
    border-top: none;
    padding: 0 16px;
    margin: 0 auto;
    position: relative;
    width: 948px;
    text-align: left;
    background: #fff;
}


#featured
{
    width: 948px;
    margin: 0 auto;
    border-image: initial;
    height: 75px;
    position: relative;
}

#featured .container, #also .container
{
    width: 948px;
}

#featured div li a img, #featured div img
{
    width: ;
    height: ;
    background: #;
    position: absolute;
    top: 15px;
    left: 35px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 200;
}

.container
{
    width: 948px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.clearfix
{
    zoom: 1;
}

::selection
{
    background: #84D5E8;
    color:  white;
    text-shadow: none;
}

.clearfix::after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#featured div.first, #also div.first
{
    margin-left: 0;
}

#featured > div > div, #also div > div 
{
    font-size: 11px;
    line-height: 130%;
    width: 228px;
    padding: 10px 0 10px 74px;
    float: left;
    margin-left: 21px;
    position: relative;
    color: #555;
}

a img, fieldset {
    border: none;
}



#featured div a
{
    text-decoration:underline;
}

#featured div h4
{
    margin-bottom: 3px;
    line-height: 130%;
    font: bold 14px "Trebuchet MS", sans-serif;
    color: #bbb;
}

.pot
{
    position: relative;
    z-index: 12;
}

#header {
    position: relative;
}


#header h1{
    position: relative;
    background: url('../../../images/logo.png') no-repeat 0 0;
    width: 948px;
    height: 103px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#header h1 a {
    font-weight: normal;
    overflow: hidden;
    display: block;
    position: relative;
    top: 21px;
    left: 22px;
    width: 377px;
    height: 55px;
    color: black;
    font-size: 15px;
    text-decoration: none;
}

#header h1 a span {
    position: absolute;
    width: 327px;
    height: 55px;
    top: 0;
    left: 0;
    background: transparent url('../../../images/logo.png') no-repeat -22px -21px;
    cursor: pointer;
}
.page
{
    width: 690px;
    position: relative;
    float: left;
	min-height: 350px;
    padding-top: 20px;
}

#breadcrumb{
    position: relative;
    font-size: 12px;
    margin-bottom: 5px;
    padding: 5px 10px;

}


#breadcrumb a{
    color: #909090;
}

/*#breadcrumb img{
    margin-right: 5px;
    position: absolute;
    top: 5px;
    left: 10px;
}*/

#breadcrumb .map{
    margin-left: 6px;
}

.pagination {
  height: 20px;
  margin: 18px 0;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
    background-color: whiteSmoke;
    background-image: -moz-linear-gradient(top, white, rgb(230, 230, 230));
    background-image: -ms-linear-gradient(top, white, rgb(230, 230, 230));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(rgb(230, 230, 230)));
    background-image: -webkit-linear-gradient(top, white, rgb(230, 230, 230));
    background-image: -o-linear-gradient(top, white, rgb(230, 230, 230));
    background-image: linear-gradient(top, white, rgb(230, 230, 230));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border-color: rgb(230, 230, 230) rgb(230, 230, 230) rgb(191, 191, 191);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 5px 5px;
    border-bottom: 1px solid #d3d5d1;
  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid #ccc;
}
.pagination li {
  display: inline;
}
.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 24px;
  text-decoration: none;

  border-left-width: 0;
}
.pagination a:hover, .pagination .active a {
    color: #ffffff;
    background: #1B7EB0;
    background-image: -moz-linear-gradient(top,#e2e2e2,#f7f7f7);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#1B7EB0),to(#105580));
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.pagination .active a {
  color: #ffffff;
  cursor: default;
}
.pagination .disabled a, .pagination .disabled a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
.pager {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
  text-align: center;
  *zoom: 1;
}
.pager:before, .pager:after {
  display: table;
  content: "";
}
.pager:after {
  clear: both;
}
.pager li {
  display: inline;
}
.pager a {
  display: inline-block;
  padding: 1px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.pager a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}
.pager .next a {
  float: right;
}
.pager .previous a {
  float: left;
}

.person_block{
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-top: 10px;
    width: 220px;
    padding: 15px 15px;
    position: relative;
    background: #f9f9f9 url('../../../images/officer-top.png') repeat-x scroll 0 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.person_block img{
    position: absolute;
    top: 0px;
    left: 15px;
}

.person_block p{
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    color: #333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.person_block li a{
    font-size: 11px;
}
/****************
 * end layout
 ***************/

/*layout2*/
.page2
{
    position: relative;
    float: left;
    min-height: 350px;
    padding-top: 20px;
    width: 948px;
}


/* Subnav */
.subnav {
    padding: 7px 0;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    background-color: #eeeeee; /* Old browsers */
    background-repeat: repeat-x; /* Repeat the gradient */
    background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
    background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
    background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
    background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.subnav .nav {
}

.subnav .nav > li > a{
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #e5e5e5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.subnav .nav > li > a:hover{
    background: #EAEBE9;
    text-decoration: none;
}

/*Страница*/

.contentfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


.pagecontent{
    margin-left: 1%;
width: 99%;
min-height: 300px;
    padding-bottom: 20px;
font:           12px arial,sans-serif;
line-height:    130%;
float:          left;
color:          #191919;
position:       relative;
}

.pageperson{

    min-height: 300px;
    padding-left: 10px;
    padding-bottom: 20px;
width:          677px;
font:           12px arial,sans-serif;
line-height:    130%;
float:          left;
color:          #191919;
position:       relative;
}


.pagenews{
    min-height: 300px;
    padding-left: 10px;
    padding-bottom: 20px;
width:          677px;
font:           12px arial,sans-serif;
line-height:    130%;
float:          left;
color:          #191919;
position:       relative;
}


.page::after {
content:    ".";
display:    block;
height:     0;
clear:      both;
visibility: hidden;
}

.title{
line-height:    90%;
padding-bottom: 3px;
position:       relative;
}

.title span{
font:       21px "Trebuchet MS", sans-serif;
color:      #909090;
position:   relative;
top:        0;
left:       0;
}

.pagenewstext{
    padding: 9px;
    margin-top: 2px;
    color: #333;
    border-radius: 4px;
    border: 1px solid #eee;
}

.officer{
    clear: both;
    margin-top: 10px;
    width: 300px;
    height: 30px;
    padding: 15px 10px;
    position: relative;
    background: #f9f9f9 url('../../../images/officer-top.png') repeat-x scroll 0 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid #eee;
    border-top: none;
}

.officer img{
    position: absolute;
    top: 0px;
    left: 10px;
}

.officer p{
    font-size: 10px;
    font-weight: bold;
    line-height: 18px;
    color: #333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

/*Страница для layout2*/

.pagecontent2{
    min-height: 300px;
    padding-left: 10px;
    padding-bottom: 20px;
    width:          938px;
    height:         auto;
    font:           12px arial,sans-serif;
    line-height:    130%;
    float:          left;
    color:          #191919;
    position:       relative;
}

.pagenewstext2{
    width: 916px;
    overflow: hidden;
    background: url('../../../images/content.bg.png');
    padding: 10px;
    margin-top: 2px;
    color: #333;
    border-radius: 4px;
    border: 1px solid #eee;
}
/*Представление кафедр и т.п в page*/

.prewiew_page{
    width: 635px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px 10px;
    border: 1px solid #fff;
    background-image: -moz-linear-gradient(top,#f1f1f1,#d8d8d8);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f1f1f1),to(#d8d8d8));
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#f1f1f1,endColorStr=#d8d8d8);
}

.img_left{
    float: left;
}

.prewiew_page img{
    border-radius: 4px 0 0 4px;
}

.infirm_right{
    float:right;
}

.information_page{
    padding: 10px 0;
    background-color: whiteSmoke;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.information_page th{
    text-align: left;
}

.information_page .oglav{
    line-height: 18px;
    color: #333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    padding: 0 15px;
}

.oglav span{
    font-size: 10px;
    font-weight: bold;
    float: left;
    padding: 0 5px;
    display: block;
    background: #e2e2e2;
}

.information_page .inf{
    padding: 0 15px;
}
.information_page .inf:hover{

}

.brpage{
    padding: 0;
}

.brpage div{
    height: 1px;
    overflow: hidden;
    background: #e6e6e6;
    border-bottom: solid 1px #F9F9F9;
}

.menu_page{
    position: relative;
    font-size: 11px;
    margin: 5px 0;
    padding: 5px 10px;
    background-color: whiteSmoke;
    border: 1px solid #EEE;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* Страница структура*/

.one_division{
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}
    .one_division .left2{
        min-height: 1px;
        position: relative;
        float: left;
        width: 380px;
    }
    .one_division .center2{
        text-align: center;
        color: #555;
        font: 18px "Trebuchet MS", sans-serif;
        float: left;
        width: 140px;
    }
    .one_division .right2{
        min-height: 1px;
        position: relative;
        float: left;
        width: 250px;
    }

    .one_division_more {
        min-height: 50px;
        width: 360px;
        padding: 10px;
        padding-left: 20px;
        position: relative;
        background: #F9F9F9 url('../../../images/officer-top2.png') repeat-y scroll 0 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        border: 1px solid #eee;
        border-left: none;
    }

.one_division_more2 {
    min-height: 50px;
    width: 350px;
    padding: 10px;
    padding-right: 20px;
    position: relative;
    background: #F9F9F9 url('../../../images/officer-top3.png') repeat-y right;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid #eee;
    border-right: none;
}

.one_division_more img{
    position: absolute;
    top: 5px;
    left: 0px;
}

.one_division_more2 img{
    position: absolute;
    top: 5px;
    right: 0px;
}

.one_division li{
    padding-bottom: 7px;
}

.one_division li a{
    color: #555;
    font-size: 12px;
    font-style:italic;
}
/*Меню*/

.menu{
    margin: 0 auto;
    height:43px;
    width:948px;
    background: url("../../../images/nav.png") repeat-x;

}

.menu-left{
    width: 15px;
    background: url("../../../images/left-nav.png");
    float: left;
    height: 43px;
}

.menu-right{
    width: 15px;
    background: url("../../../images/right-nav.png");
    float: right;
    height: 43px;
}

.menu ul{
list-style:none;
}
.menu li{
list-style:none;
display: inline-block;
display: -moz-inline-stack;
float:left;
height:43px;
line-height:40px;
display : inline;
zoom : 1;
}
.menu li a{

list-style:none;
display: block;
color:#333;
text-shadow: #fff 1px 1px 1px,  0 0 0em;
font-weight:bold;
font-size:12px;
text-decoration:none;
padding:0 7px;
}
.menu li a:hover{
background: #f7f7f7;
color:#1b7fb2;
text-decoration:none;
}

.menu li a.current{
list-style:none;
display: block;
color:#1b7fb2;
background:#fff;
font-size:12px;
font-weight:bold;
line-height:36px;
text-decoration:none;
padding:0 7px;
}
.menu li a:hover.current{
color:#333;
}

.navbar-item-sub {
border: 1px solid #eee;
    background: #fff;
display:            none;
position:           absolute !important;
z-index:            1000;
left:               500px;
top:                50px;
/*width:              676px;*/
width:              auto;
height: auto;
float:              left;
    -webkit-box-shadow: 0px 0px 3px #333;
    -moz-box-shadow: 0px 0px 3px #333;
    box-shadow: 0px 0px 3px #333;
}

.navbar-item-sub .mark {
    position: absolute;
    z-index: 1;
    left: -1px;
    top: -6px;
    height: 3px;
    width: 50px;
    border-bottom: 2px solid #1b7eb1;
    font-size: 0px;
    overflow: hidden;
}

.navbar-item-sub ul {

border-right: 1px solid #E0E0E0;
float:         left;
margin:        0px;
padding:       5px 10px 0px 10px;
}

.navbar-item-sub ul.last {
    border-right: none;
    padding: 5px 5px 0px 10px;
}

.navbar-item-sub li {
font-size:     11px;
margin-bottom: 5px;
height: auto;
float: none;
}
.navbar-item-sub li a {
color:           #333;
margin:          0px;
padding:         0px;
text-decoration: none;
white-space:     nowrap;
display:         inline;
font-size:     11px;
margin-bottom: 5px;
}
.navbar-item-sub li a:hover {
text-decoration: underline;
}
.navbar-item-sub .header-engagement {
font-family: Verdana, Geneva, sans-serif;
font-size:   11px;
padding-top: 3px;
}
.navbar-item-sub .header-engagement a.red {
color:           #990000;
font-weight:     normal;
text-decoration: none;
}
.navbar-item-sub .noimage {
height: 80px;
width:  285px;
}

		/*Поиск*/

div#search_block {
float: right;
position: absolute;
    text-align: center;
    right: 20px;
    top: 20px;
}

div#search_block a{
    color: #fff;
    font-size: 11px;

}

div#search_block a:hover {
    text-decoration: none;
}

div.search {
border-top: solid 1px #CFCFCF;
border-left: solid 1px #CFCFCF;
border-radius: 4px;
background: white;
padding: 0px 4px;
}

div.search input[type="text"] {
border: none;
width: 100px;
background: transparent;
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #626B73;
outline: none;
}

#button {
position: absolute;
    top: 24px;
    right: 10px;
    border: none;
    width: 10px;
    height: 11px;
background: url(../../../images/back_topsearch_sbm.png) 0 0 no-repeat;
cursor: pointer;
}

#button:hover {
    background: url(../../../images/back_topsearch_sbm.png) 0 -11px no-repeat;
}

					/*Левый блок*/

div.leftcoloumn{
position: relative;
width: 280px;
float:left;
}


div.leftcoloumn div#direct{
margin: 0 auto;
background-image: url('../../../images/tety.jpg');
float:left;
height:80px;
width: 80px;
border-radius: 5px 0 0 5px;
}

.direct{
width: 280px;
height: 80px;
}

.nameDirect{
font-size: 13px;
padding: 5px 5px 5px 10px;
height:70px;
color: #444;
float:left;
width: 183px;
    background-color: whiteSmoke;
    background-color: whiteSmoke;
    border: 1px solid #EEE;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#stdir{
color: #777;
margin-top: 5px;
font-size: 11px;
}

.rechdir{
width: 251px;
margin: 10px 14px;

}

.rechdir2{
height: 20px;
background: url('../../../images/jsdm-top.png') no-repeat 0 100%;
}

.rechdir3{
 height: 8px;
background: url('../../../images/jsdm-bottom.png') no-repeat;
}



.rechdir4 p{
background: url('../../../images/jsdm-center.png') repeat-y;
margin:0;
padding: 10px 15px;
color:#222;
font-size: 11px;
}


div.ad{
    padding: 10px 15px;
position: relative;
width: 250px;
    background-color: whiteSmoke;
    background-image: -moz-linear-gradient(top, white, #dfdfdf);
    background-image: -ms-linear-gradient(top, white, #dfdfdf);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#dfdfdf));
    background-image: -webkit-linear-gradient(top, white, #dfdfdf);
    background-image: -o-linear-gradient(top, white, #dfdfdf);
    background-image: linear-gradient(top, white, #dfdfdf);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border-color: rgb(230, 230, 230) rgb(230, 230, 230) rgb(191, 191, 191);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #EEE;
    border-bottom: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    box-shadow:  0 1px 2px #bbb;
    -webkit-box-shadow:  0 1px 2px #bbb;
    -moz-box-shadow:  0 1px 2px #bbb;

}

.ad p{
    font: 15px "Trebuchet MS", Tahoma, Arial, sans-serif;
    color: #444;
    font-weight: bold;
}

.ad li a{
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: #999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}



/*Контент*/

.content {
margin: 0px 1px 0px 9px;
width: 400;
height:auto;
float: left;
}

#content {
border-top: none;
color: #343434;
font-size: 12px;
line-height: 18px;
width:400px;
	}

#slider {
width: 400px; /* important to be same as image width */
height: 240px; /* important to be same as image height */
position: relative; /* important */
overflow: hidden; /* important */
margin-bottom: 10px;
}
#sliderContent {
width: 400px; /* important to be same as image width or wider */
position: absolute;
top: 0;
margin-left: 0;
}
.sliderImage {
float: left;
position: relative;
display: none;
}
.sliderImage span {
position: absolute;
font: 10px/15px Arial, Helvetica, sans-serif;
padding: 10px 13px;
width: 444px;
background-color: #000;
filter: alpha(opacity=70);
-moz-opacity: 0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
color: #fff;
display: none;
}
.clear {
clear: both;
}
.sliderImage span strong {
font-size: 14px;
}
.top {
top: 0;
left: 0;
}
.bottom {
bottom: 0;
left: 0;
}

ul { list-style-type: none;}

.shadow{
height: 4px;
background:url(../../../images/shadow.png) no-repeat;
}
	/*Новости*/

#tabs{
   margin-bottom: 20px;
}

#tabs-1{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
	/*Меню новостей*/

.nav-tabs,
.nav-pills {
    *zoom: 1;
}
.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
    display: table;
    content: "";
}
.nav-tabs:after,
.nav-pills:after {
    clear: both;
}
.nav-tabs > li,
.nav-pills > li {
    float: left;
}
.nav-tabs > li > a,
.nav-pills > li > a {
    color: #777;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
    margin-bottom: -1px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    color: #555;
    background-color: white;
    border: 1px solid #DDD;
    border-bottom-color: transparent;
    cursor: default;
}

.nav-tabs > li > a {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 18px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
    color: #444;
    text-decoration: none;
    background: #EAEBE9;
    border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
    color: #333;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-pills > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #0088cc;
}

/*Dropdown*/
.dropdown {
    position: relative;
}
.dropdown-toggle {
    margin-bottom: -3px;
}
.dropdown-toggle:active,
.open .dropdown-toggle {
    outline: 0;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
    opacity: 0.3;
    filter: alpha(opacity=30);
    content: "";
}
.dropdown .caret {
    margin-top: 8px;
    margin-left: 2px;
}
.dropdown:hover .caret,
.open.dropdown .caret {
    opacity: 1;
    filter: alpha(opacity=100);
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}
.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 8px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
    *width: 100%;
    *margin: -5px 0 5px;
}
.dropdown-menu a {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #333333;
    white-space: nowrap;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
}
.dropdown.open {
    *z-index: 1000;
}
.dropdown.open .dropdown-toggle {
    color: #ffffff;
    background: #ccc;
    background: rgba(0, 0, 0, 0.3);
}
.dropdown.open .dropdown-menu {
    display: block;
}
.pull-right .dropdown-menu {
    left: auto;
    right: 0;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px solid #000000;
    content: "\2191";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
}

#newsimage{
float: left;
margin-right:10px;
}



div#newstop{
height:30px;
}

ul#news{
background: #fff;
width: 398px;
border-radius: 0px 0px 5px 5px;
}

ul#news li{
background: #fff;
font-size: 11px;
padding: 10px;
cursor: pointer;
position: relative;
    border-bottom: 1px solid #eee;
			}

ul#news li:hover{
background: #F5F5F5;

}

ul#news li a{
    display: block;
font-family: arial, sans-serif;
text-decoration: none;
color:#555;
font-size:12px;
padding-bottom: 3px;
    font-weight: bold;
}

ul#news li p{
    display: block;
color: #777;
padding:2px 2px 0px 0px;
font-size: 11px;
}


.more{
position: absolute;
z-index: 3;
right: 8px;
top: 30px;
width: 8px;
height: 10px;
}

div#span p a {
font-size: 10px;
color: #777;
}

div#span p a:hover {
color: #222;
}

.allnews{
    width: 400px;
height: 43px;
background: url("../../../images/nav.png");
}

.allnews-left{
    background: url("../../../images/left-nav.png");
    height: 43px;
    float: left;
    width: 15px;
}

.allnews-right{
    background: url("../../../images/right-nav.png");
    height: 43px;
    float: right;
    width: 15px;
}
    

.allnews:hover {
    cursor: pointer;
}

.allnews p{
text-align: center;
padding-top: 10px;
    font: 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
    font-weight: bold;
}

.allnews p a{
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: #333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

/*стр с новостью*/

.prewie_top_new{
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 12px;
    color: #777;
}

.data{
    float: left;
}



.cat{
    float: right;
}

	/*Правый блок*/

.right{
    position: relative;
    margin-top: 20px;
    float: right;
    width: 250px;
    margin-left: 8px;

}

.right-block{
margin-bottom: 10px;
width: 250px;
background: url(../../../images/gb-c.gif) repeat-y;
}

.right-block .right2{
background:url(../../../images/gb-t.gif) no-repeat 0 0;
}

.right-block .right3{
padding: 6px;
background: url(../../../images/gb-b.gif) no-repeat 0 100%;
}

.right-block .top {
height: 4px;
overflow: hidden;
background: url(../../../images/tube-top.png) no-repeat;
}

.right-block .bottom {
height: 4px;
overflow: hidden;
background: url(../../../images/tube-bottom.png) no-repeat;
}

.right-block p{
    background: #fff;
    font: 15px "Trebuchet MS", Tahoma, Arial, sans-serif;
    color: #444;
    padding-left: 10px;
    padding-bottom: 5px;
    font-weight: bold;
}

#rightcoloumn{
font-family: 12px "Trebuchet MS", sans-serif;
color: #555;
padding: 0px 0px 3px 10px;
font-weight: bold;
}

#right-block ul  {
background: #fff;
padding: 5px 0px 0px 0px;
}

ul.fakaf{
    background: #fff;
}

.fakaf li {
padding: 0 0 5px 0;
font-size: 11px;
padding-left: 10px;
}

.fakaf li  a{
font-family: "Trebuchet MS", sans-serif;
color: #666;
}

.fakaf li  a:hover{
color: #222222;
}

.fakaf li  a.current{
color: #222222;
}


	/*Футер*/

.footer{
clear: both;
background:#656565;
margin-left: -25px;
margin-right: -25px;
margin-top: 30px;
margin-bottom: 40px;
position: relative;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
}

.footer .head {
position: absolute;
top: -11px;
width: 997px;
height: 11px;
background: url(../../../images/slider.head.png) no-repeat;
}

#footer1 {
height:110px;
padding-bottom: 30px;
}

#footer2 {
padding: 20px 32px 35px 32px;
width: auto;
}

.fmenu {
margin: 0 130px 25px 0;
padding: 0 0 0 2px;
}

#f1, #f2 {
float: left;
}

#f3 {
float: right;
margin: 0;
}

#f3 a {
padding-left: 22px;
}

.fmenu div {
color: #BBB;
font-size:14px;
margin: 0px 0 3px;
padding: 0 1px 8px;
}

#footer1 ul {
list-style: none;
width: 200px;
}

#footer1 li{
color: white;
font-size: 11px;
text-decoration: none;
display: block;
padding: 1px 0 2px;
}

#footer1 li a{
color: #eeeeee;
font-size: 11px;
text-decoration: none;
display: block;
padding: 1px 0 2px;
}

#footer1 li a:hover{
color: white;
text-decoration: none;
display: block;
padding: 1px 0 2px;
}


/*Страница Все новости*/

.news_all {
    overflow: hidden;
    background: url('../../../images/content.bg.png');
    padding: 10px;
    margin-top: 2px;
    color: #333;
    border-radius: 4px;
    border: 1px solid #EEE;

}

.allnews_list{
    width: 630px;
    float: left;
    margin-top: 10px;
    position: relative;
}

.news_right_colomn {
    float: right;
}

.allnews_item{
float: left;
margin-right: 20px;
}

.allnews_list_margin{
margin-left: 120px;
}

.one_news{
    float: left;
    position: relative;
    padding: 10px;
    width: 600px;
    margin-bottom: 20px;
}


.one_news_title a{
    line-height: 15px;
    text-shadow: white 1px 1px 1px, 0 0 0em;
    color: #0E517E;
    font: bold 14px "Trebuchet MS", sans-serif;
    }

.one_news_date, .one_news_more, .one_news_more a{
color: #909090;
margin: 7px 0;
font-size: 11px;
}

.one_news_text{
    font: 11px "Trebuchet MS", sans-serif;
}

.one_news_image{
position: absolute;
top: 10px;
left: 5px;
border-radius: 2px;
}



/*Персоналии*/

.allperson_list{
    position: relative;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
background-image: -moz-linear-gradient(top,#f1f1f1,#d8d8d8);
background-image: -webkit-gradient(linear,left top,left bottom,from(#EBEBEB),to(#d8d8d8));
filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#f1f1f1,endColorStr=#d8d8d8);
margin-top: 10px;
width: 660px;
padding:10px;
}

.alfavit{
    position: relative;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
padding: 2px 5px;
position: relative;
overflow: hidden;
    border-color: rgb(230, 230, 230) rgb(230, 230, 230) rgb(191, 191, 191);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.alfavit a{
    margin: 0 auto;
    width: 23px;
    display: inline-block;
    position: relative;
    float: left;
    color: #787878;
    font-size: 11px;
    text-decoration: none;
    text-align: center;

}

.alfavit a:hover{
    width: 23px;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 2px;
    background: #1B7EB0;
    background-image: -moz-linear-gradient(top,#e2e2e2,#f7f7f7);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#1B7EB0),to(#105580));
}

.alfavit a span:hover{
    text-align: center;
    display: block;
    position: relative;
    padding: 4px 6px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
    font-size: 14px;
}

.alfavit a span{
    padding: 4px 6px;
    display: block;
    color: #333;
    font-size: 12px;
    text-shadow: 1px 1px 0 #ddd;
}

.one_person{
    background-color: whiteSmoke;
    background-image: -moz-linear-gradient(top, white, #DFDFDF);
    background-image: -ms-linear-gradient(top, white, #DFDFDF);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#DFDFDF));
    background-image: -webkit-linear-gradient(top, white, #DFDFDF);
    background-image: -o-linear-gradient(top, white, #DFDFDF);
    background-image: linear-gradient(top, white, #DFDFDF);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border-color: #E6E6E6 #E6E6E6 #BFBFBF;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #EEE;
    border-bottom: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 1px 2px #bbb;
    -webkit-box-shadow: 0 1px 2px #bbb;
    -moz-box-shadow: 0 1px 2px #bbb;
border-bottom-right-radius: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
margin-bottom: 10px;
font-size: 11px;
padding: 10px;
cursor: pointer;
position: relative;
height: 85px;
width: 350px;
}

.one_person:hover{
background: #FAFAFA;
    border-color: #BFBFBF;
}

.one_person_name a{
font-size: 14px;
color: #333;
}

.one_person_podraz{
color: #909090;
margin: 7px 0;
font-size: 11px;
}

img.photo_person{
    width: 47px;
    height: 70px;
float: left;
padding: 2px;
margin-right: 10px;
border: solid 1px #D0D0D0;
background: #F2F2F2;
}
.person_and_search{
    overflow: hidden;
    clear: both;
    position: relative;
}
.allperson{

width: 380px;
float: left;
    position: relative;
    clear: both;
}

.allperson span{
display: block;
margin-bottom: 3px;
font-size: 13px;
color: #191919;
}

/*Подразделения*/
.allperson_list .podraz{
width: 280px;
background: #fff;
float: left;
margin-top: 10px;
}

.ad > span {
font-size: 13px;
color: #555;
}

.ad ul{

}

.ad ul li{
position: relative;
line-height: 190%;
color: #777;
}

.ad ul li .ad_plus{
padding-right: 3px;
}

/*Поиск персон*/

.allperson_list .seach_person{
position: relative;
width: 270px;
float: left;
}

.seach_person .line{
width: 220px;
float: left;
}

.seach_person label {
display: block;
margin-bottom: 2px;
font-size: 11px;
}

.seach_person .input {
border-top: solid 1px #CFCFCF;
border-left: solid 1px #CFCFCF;
border-bottom-left-radius: 3px;
border-top-left-radius: 3px;
background: white;
padding: 0px 4px;
height: 20px;
}

.seach_person .input input {
border: 0;
padding: 0;
width: 100%;
outline: none;
font-size: 14px;
outline: none;
margin: 3px 0 0 0;
}

.seach_person .seach_submit{
float: left;
padding-top: 15px;
}

.seach_person .seach_submit .submit{
display: block;
background: #F2F2F2;
border-top: solid 1px #CFCFCF;
border-right: solid 1px #CFCFCF;
border-bottom: solid 1px #CFCFCF;
border-bottom-right-radius: 3px;
border-top-right-radius: 3px;
font-size: 11px;
padding:3px 8px;
cursor: pointer;
position: relative;
height: 14px;
width: 30px;
}

.seach_person .seach_submit .submit input {
float: left;
cursor: pointer;
margin: 0;
padding: 0;
height: 15px;
font-size: 11px;
border: 0;
background: transparent;
overflow: visible;
color: #424242;
font-family: "Trebuchet MS", sans-serif;
}

#loader, #answer-loader
{
    position: absolute;
    background: #fff url('/images/ajax-loader2.gif') center no-repeat;
    opacity:0.3;
    filter:alpha(opacity=30);
    -moz-opacity:0.3;
    z-index: 1000;
    display: none;
}

#loader
{
    width: 100%;
    height: 100%;
}


#answer-loader
{
    width: 90%;
    height: 90%;
}
.search_divisions
{
    float: right;
    width: 245px;
}
.news-categories-section{
    padding: 10px 15px;
    position: relative;
    background: #f5f5f5;
    border: 1px solid #EEE;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.search_divisions > span{
    font-size: 14px;
    color: #555;
}

.search_divisions ul{
    margin-top: 7px;
}

.search_divisions ul li{
    padding-top: 5px;
}
/*Персона*/

.person_item{
position: relative;
padding-top: 10px;
}

.person_left{
    background: url('../../../images/person_contact.gif') no-repeat 0 210px;
float: left;
margin-right: 10px;
}

.person_foto img{
border-radius: 3px;
}

.person_right{
float: left;
    width: 500px;
}

.person_contact{
    border-radius: 3px;
    background-image: -moz-linear-gradient(top,#f7f7f7,#d8d8d8);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f7f7f7),to(#d8d8d8));
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#f7f7f7,endColorStr=#d8d8d8);
    padding: 5px 10px;
    margin-top: 15px;
    float: left;
    width: 113px;
}

.person_contact .b{
    color: #777;
    text-shadow: white 1px 1px 1px, 0 0 0em;
    font-weight: bold;
    font-size: 12px;

}

.person_contact .c{
    padding-bottom: 5px;
}

.person_about{
    padding-left: 0px;
    float: left;
    clear: both;
    margin-top: 10px;
}

.person_about > span{
    color: #777;
    font-size: 15px;
}

.person_about > div{
    color: #777;
}


.person_info{
    margin-top: 15px;
}

.person_info .b{
    color: #333;
    text-shadow: white 1px 1px 1px, 0 0 0em;
    font-weight: bold;
    font-size: 13px;

}

.person_info .c{
    color: #777;
    font: 12px arial;
    padding-bottom: 10px;
}

.person_right p{

    color: #555;
    font-size: 20px;
}

.seach_person{
    float: left;
    position: relative;
    margin-right: 17px;
}

.right-search{
    float: right;
}

/*Таблицы*/

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
  margin-bottom: 18px;
}
.table th, .table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table th {
  font-weight: bold;
}
.table thead th {
  vertical-align: bottom;
}
.table thead:first-child tr th, .table thead:first-child tr td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid #ddd;
}
.table-condensed th, .table-condensed td {
  padding: 4px 5px;
}
.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.table-bordered th + th,
.table-bordered td + td,
.table-bordered th + td,
.table-bordered td + th {
  border-left: 1px solid #ddd;
}
.table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
.table-bordered thead:first-child tr:first-child th:last-child, .table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
.table-bordered thead:last-child tr:last-child th:first-child, .table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
.table-bordered thead:last-child tr:last-child th:last-child, .table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: #f5f5f5;
}
table .span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}
table .span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}
table .span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}
table .span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}
table .span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}
table .span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}
table .span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}
table .span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}
table .span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}
table .span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}
table .span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}
table .span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}

/* Контакты/Схема проезда*/

#rightcontacts {
    width: 490px;
    float: left;
    padding: 0 10px;
}

#leftlocation {
    position: relative;
    width: 400px;
    float: left;
    border-right: 1px solid #eee;
}


#leftlocation img {
    padding: 7px 0;
}

#rightcontacts .b {
    color: #333;
    text-shadow: white 1px 1px 1px, 0 0 0em;
    font-weight: bold;
    font-size: 13px;
    padding-top: 15px;
}

#rightcontacts .b a{
    color: #555;
}

/* Tooltip*/

.tooltip {
    padding:1px 2px;
    cursor:help;
    text-decoration:none;
    border-bottom:1px dotted #115682;
    font-style:italic;}

.tooltipped {
    color:#fff;
    background:#115682;
    cursor:auto;
}

a.tooltipped{
    color:white;
}

#ttt {
    position:absolute;
    display:none;
    width:302px;
    text-align:left;
    line-height:1.4;
    color:#262626;
    z-index:1500;
    font-style:normal;
}

#ttt .t-top{
    height:15px;
    background:url(../img/t-top.png) no-repeat 0 0;
}

#ttt .t-bot {
    height:15px;
    background:url(../img/t-bot.png) no-repeat 0 0;}

#ttt .t-content {
    background:url(../img/t-content.png) repeat-y 0 0;
    padding:6px 25px 10px 25px;
    font-size:11px;
}

#ttt #ttt-spravka {
    padding:11px 25px 6px 25px;}

.t-content b {
    font-size:13px;}

.t-content i{
    display:block;
    color:#848484;
    display:block;
    font-size:11px;
    padding-top:1em;
}

.tooltip span.hiddenspan{
    display:none;}

#ttt.sociallinks{border-bottom:0 none;font-family:Arial;font-size:11px;padding:0 69px 0 60px;width:184px;}

#ttt.sociallinks .t-top{height:15px;margin:0 auto;width:184px;background:url(../img/t-top-forsociallink.png) no-repeat 0 0;}

#ttt.sociallinks .t-bot{background:url(../img/t-bot-forsociallink.png) no-repeat 0 0;height:15px;margin:0 auto;width:184px;}

#ttt.sociallinks .t-content{background:url(../img/t-content-forsociallink.png) repeat-y 0 0;padding:6px 25px 10px 25px;font-size:11px;width:135px;margin:0 auto;}

#ttt.sociallinks span{display:none;}

.sociallinks{border-bottom:0 none;cursor:pointer;}

.autocomplete-w1 { background:url(img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }

/*Twitter*/

.jScrollPaneContainer {
    position:relative;
    overflow:hidden;
    z-index:1;
}

.jScrollPaneTrack {
    position:absolute;
    cursor:pointer;
    right:4px;
    top:0;
    height:100%;
    background:#ddd;
}
.jScrollPaneDrag {
    position:absolute;
    background:#999;
    cursor:pointer;
    overflow:hidden;
}
.jScrollPaneDragTop {
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
}

.jScrollPaneDragBottom {
    position:absolute;
    bottom:0;
    left:0;
    overflow:hidden;
}

a.jScrollArrowUp {
    display:block;
    position:absolute;
    z-index:1;
    top:0;
    right:0;
    text-indent:-2000px;
    overflow:hidden;
    height:9px;
}

a.jScrollArrowDown {
    display:block;
    position:absolute;
    z-index:1;
    bottom:0;
    right:0;
    text-indent:-2000px;
    overflow:hidden;
    height:9px;
}


#main2 {
    /*margin:40px auto;*/
    text-align:center;
    width:250px;
}

#twitter-ticker {
    /*margin:40px auto 20px;*/
}


h2.tut {
    color:#fff;
    font-size:16px;
    padding:12px 0 0 58px;
    text-transform:uppercase;
    text-shadow:2px 1px 6px #333;
}

#twitter-ticker {
    overflow: hidden;
    position: relative;
    width:230px;

    color:#666;
    display:none;
    -moz-border-radius:10px 10px 6px 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius:6px;
    text-align:left;
    margin-bottom: 20px;
}

#tweet-container {
    width:auto;
    overflow:hidden;
}

#twitIcon {
    position:absolute;
    top:-25px;
    left:-10px;
    width:64px;
    height:64px;
}


.tweet {
    padding:5px;
    margin:8px 8px 0 0px;
    /*border:1px solid #f0f0f0;*/

    width:auto;
    overflow:hidden;
    line-height: 16px;
}

.tweet:first-child {
    margin-top:0;
}
.tweet .user{
    display: none;
}

.tweet .avatar, .tweet .user, .tweet .time {
    float:left;
}

.tweet .time {
    display:block;
    font-size:11px;
    color:#9da7b0;
    padding: 0 0 0 13px;
    white-space:nowrap;

}


.tweet .txt {
    clear:both;
}

.tweet .user{
    font-weight:bold;
}

#loading {
    margin:100px 95px;
}

.profile_image_url {
    float: left;
    margin-right: 10px;
    width: 21px;
}

.tweet_info {
    float: left;
    width: 170px;
}
.tweet .txt {
    clear: both;
    color: #626B73;
    font-size: 11px;
    font-style: italic;
}

.clear {
    clear: both;
}

.tweet .time {
    display: block;
    font-size: 11px;
    color: #9DA7B0;
    padding: 0 0 0 13px;
    white-space: nowrap;

}

.twit_pic {
    background: url("/images/twit_pic.png") no-repeat scroll 0 16px transparent;
    border-bottom: 1px solid #EEE;
    margin-bottom: 10px;
    padding-left: 0;
    position: relative;
}

h2#tw-r {
    color: #777;
    font-family: "PT Sans",sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 15px 34px 6px 32px;
}

.twit_pic .amblame{
    position: absolute;
    top: 16px;
    right: 5px;
    font-size: 11px;

}

#twiter-ticker {
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
    border-bottom: 1px solid #EEE;
}


.twitter-but {
    display: block;
    margin-bottom: 13px;
    padding-left: 30px;
    padding-top: 5px;
    font-size: 11px;
}
.jScrollPaneTrack {
    display:none;
}

.news_all > .form-horizontal{
    background-color: whiteSmoke;
    border: 1px solid #EEE;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    padding-top: 15px;
}

/*.active-slide {
    background-position: right 12px;
}

 /**
     * photos
     */
#news_tabs
{
    position: relative;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

}
.photos {
    border: none;
    width: 400px;
    height: 200px;
    position:relative;
    margin-bottom:8px;
}

.photos_img {
    border: none;
    display: block;
    width: 400px;
    height: 200px;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
}

.photos_link_button,
.photos_link_button_label {
    /* {{{ .inline_block */
    display: -moz-inline-stack; /* for FF2 */
    display: inline-block; /* normal browsers */
    zoom: 1; /* for IE (hasLayout true) */
    *display: inline; /* for IE */
    *margin-bottom: 0;
    /* }}} */
    vertical-align: middle;
}

.photos_link_button,
.photos_link_button_content {
    padding: 5px;
}

.photos_link_button {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    margin-top: /* (170 - 50 - 20) */24px;
    margin-left: 260px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: #f5f5f5;
    background: url('../../../images/wash-white-30.png');
    padding: 0 1px 0 1px;
    z-index: -999;
}

.photos_link_button_label {
    font-family: 'Arial';
    font-size: 13px;
    font-weight: bold;
    color: #eee/*#ccc*/;
    /* {{{ text shadow */
    text-shadow: 1px 1px 2px #363636;
    /* }}} */
}

a.photos_link:hover .photos_link_button_label {
    color: #fff;
}

.photos_link_studforum .photos_link_button,
.photos_link_studforum .photos_link_button_content {
    height: 25px;
}

.photos_link_studforum .photos_link_button {
    margin-top: /* (170 - 75 - 20) */20px;
    padding-left: 10px;
}

.photos_link_studforum .photos_link_button_label {
    margin-left: 10px;
    font-size: 12px;
}

.photos_slider {
    position: absolute;
    bottom:0;
    z-index: 100;
    background: #f5f5f5;
    background: url('../../../images/wash-white-30.png');
    padding: 0 0 0 0;
    text-align: left;
    width:100%;
}

.photos_slider table {
    width: 100%;
}

.photos_slider_title {
    width: 99%;
    padding: 10px;
    text-align: left;
    color: #eee;
    /* {{{ text shadow */
    text-shadow: 1px 1px 2px #333;
    font-size:13px;
    /* }}} */
}

.photos_slider_buttons {
    width: 1%;
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
}

.photos_button_wrapper {
    /* {{{ .inline_block */
    display: -moz-inline-stack; /* for FF2 */
    display: inline-block; /* normal browsers */
    zoom: 1; /* for IE (hasLayout true) */
    *display: inline; /* for IE */
    *margin-bottom: 0;
    /* }}} */
    width: 16px;
    height: 16px;
    margin-left: 4px;
    overflow: hidden;
}

.photos_button {
    position:absolute;
    top: 16px;
    width: 16px;
    height: 16px;
    font-size: 0;
}

.photos_button_off,
.photos_button_on {
    background: #aaa;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    width:8px;
    height:8px;
    cursor: pointer;
}

.photos_button_on {
    background-position: 0 -16px;
    background: #333;
    cursor: default;
}

/*Hello*/

#mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background: url('../../../images/bg-pattern2.png');
    display:none;
}
#boxes .window {
    position:absolute;
    left:0;
    top:0;
    width:440px;
    height:200px;
    display:none;
    z-index:9999;
    padding:20px;
}
#boxes #salutation-dialog {
    border: 1px solid #ccc;
    margin-top: 20px;
    width:760px;
    height:670px;
    padding:10px;
    background-color:#FFFFFF;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;


}
#window-header {
    width: 140px;
    height: 140px;
    position:absolute;
    top: -55px;
    left: 0;
    background-color: #ffffff;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    box-pack: center;
    box-align: center;
}

#hello-header{
    position: relative;

}

#hello-header img{
    position: absolute;
    left: 347px;
}

#hello-header .l{
    color: #777;
    font-size: 13px;
    float: left;
    width: 200px;
    margin-left: 10px;

}

#hello-header .r{
    color: #777;
    font-size: 13px;
    float: right;
    width: 200px;
    margin-right: 10px;
}

.form-well {
    min-height: 20px;
    padding: 19px;
    margin: 40px 0;
    background-color: whiteSmoke;
    border: 1px solid #EEE;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.btn-primary {
    background-color: #0074CC;
    background-image: -ms-linear-gradient(top, #08C, #05C);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#05C));
    background-image: -webkit-linear-gradient(top, #08C, #05C);
    background-image: -o-linear-gradient(top, #08C, #05C);
    background-image: -moz-linear-gradient(top, #08C, #05C);
    background-image: linear-gradient(top, #08C, #05C);
    background-repeat: repeat-x;
    border-color: #05C #05C #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}


.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #05C;
}


.btn-primary:active, .btn-primary.active {
    background-color: #004099 9;
}

.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.search-people-icon {
    position: absolute;
    top: 29px;
    right: 7px;
    border: none;
    width: 10px;
    height: 11px;
    background: url(../../../images/back_topsearch_sbm.png) 0 0 no-repeat;
    cursor: pointer;
}

.search-people-icon:hover {
    background: url(../../../images/back_topsearch_sbm.png) 0 -11px no-repeat;
}

.main-menu-kafedra a{
    text-decoration: underline;
}

a[href$=".pdf"] {
    background: url(../../../images/pdf.gif) no-repeat;
    padding-left: 25px;
}

a[href$=".doc"] {
    background: url(../../../images/docx.gif) no-repeat;
    padding-left: 25px;
}

a[href$=".msword"] {
    background: url(../../../images/docx.gif) no-repeat;
    padding-left: 25px;
}

a[href$=".docx"] {
    background: url(../../../images/docx.gif) no-repeat;
    padding-left: 25px;
}

a[href$=".winrar"] {
    background: url(../../../images/winrar.png) no-repeat;
    padding-left: 25px;
}

a[href$=".rar"] {
    background: url(../../../images/winrar.png) no-repeat;
    padding-left: 25px;
}

a[href$=".zip"] {
    background: url(../../../images/winrar.png) no-repeat;
    padding-left: 25px;
}

a[href$=".winzip"] {
    background: url(../../../images/winrar.png) no-repeat;
    padding-left: 25px;
}

h2.dc {
    color: #777;
    font-family: "PT Sans",sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 5px 34px 6px 25px;
    border-bottom: 1px solid #ddd;
}
.right-document-block{
    margin-bottom: 15px;
}

.right-document-block ul li{
    padding: 3px 25px;

}

.right-document-block ul li a{
font-family: "Trebuchet MS", sans-serif;
color: #666;
    font-size: 11px;
}

.library {
    opacity: 0.7;
    cursor: pointer;
    margin: 10px 0;
    clear: both;
}
.library:hover {
    opacity: 1;
    -moz-opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

.library-img {
    width: 50px;
    height: 37px;
    background: url(../../../images/library.png) no-repeat;
    float: left;
    margin-right: 10px;
}

/*Socseti*/
ul.socseti{
    float: right;
    list-style: none;

}

ul.socseti li:hover{
    opacity: 1;
    -moz-opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}



ul.socseti li{
    float: left;
    position: relative;
    opacity: 0.5;
    -moz-opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

ul.socseti li a{
    display: block;
    float: left;
    height: 14px;
    text-shadow: 0px 1px 0px #ffffff;
    text-indent: -9999px;
    outline: none;

}

ul.socseti li a.tw {
    background:url(../../../images/back_tm_tw.png) 0 0 no-repeat;
    position: absolute;
    top: 13px;
    left: -20px;
}


ul.socseti li a.fb {
    background:url(../../../images/back_tm_fb.png) 0 0 no-repeat;
}

ul.socseti li a.vk {
    background:url(../../../images/back_tm_vk.png) 0 0 no-repeat;
    position: absolute;
    top: 13px;
    left: -40px;
}

.iprbooks-background{
    background: url(../../../images/IPR_mini.jpeg) 0 0 no-repeat;
    width: 50px;
    height: 47px;
    margin: -5px 0 0 10px;
    float: left;
}
.femida-background{
    width: 50px;
    height: 37px;
    margin-right:10px;
    float: left;
}