a:link	{ color: #2B587A; text-decoration: none; }
a:visited	{ color: #105289; text-decoration: none; }
a:hover	{ color: #D31141; text-decoration: underline; }
a:active	{ color: #368AD2; text-decoration: none; }

#featured {
width: 948px;
background: #fff;
margin: 0 auto;
border-image: initial;
height: 65px;
position: relative;
}

#featured .container, #also .container {
width: 948px;
}

#featured article li a img, #featured article img {
width: ;
height: ;
background: #;
position: absolute;
top: 5px;
left: 35px;
-moz-border-radius: 5px;
border-radius: 5px;
z-index: 200;}

.container {
width: 948px;
margin: 0 auto;
padding: 0;
position: relative;
}

.clearfix {
zoom: 1;
}

::selection {
background: #84D5E8;
color: white;
text-shadow: none;
}

.clearfix::after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

#featured article.first, #also article.first {
margin-left: 0;
}

#featured article, #also article {
font-size: 11px;
line-height: 130%;
width: 228px;
padding: 5px 0 10px 74px;
float: left;
margin-left: 21px;
position: relative;
color: #555;
}

#featured article a {
text-decoration:underline;
}

#featured article h4{
margin-bottom: 3px;
line-height: 130%;
font: bold 14px "Trebuchet MS", sans-serif;
color: #bbb;
}

#page-wrapper{
padding: 0 16px;
margin: 0 auto;
position: relative;
width: 948px;
text-align: left;
background: url('../../../images/out-str.png') repeat 0 0;
}

.uchr{
position: absolute;
top: 0;
left: 0;
width: 100%;
}

.leftblock{
float: left;
display: inline;
width: 25%;
padding-top: 5px;
}

.vseuchr{
float: left;
display: inline;
width: 50%;
}

#uchr{
position: absolute;
top: 0;
left: 0;
width: 980px;
zoom: 1;
}

.uchr ul{
list-style: none;
text-align: center;
white-space: nowrap;
position: relative;
z-index: 100;
}


.uchr li{			
display: inline-block;
display: -moz-inline-stack;
margin: 0 -.2em;
padding: 0 10px;
width : 100px;
display : inline;
zoom : 1;
			}
#uchr li a{
	color:#555555;
	font-size:11px;
	outline: 0;
	text-decoration: none;	
	}
.uchrb{
text-align: right;
width: 100%;
overflow: hidden;
height: 5px;
}


.pot{
position: relative;
z-index: 12;
}

div#header {
background: url('../../../images/logo.png') no-repeat 0 0;
width: 948px;
height: 103px;
}


.page{
width: 680px;
margin: 0 auto;
padding-top: 20px;
}

.pagecontent{
min-height: 350px;
background: url('../../../images/bg-logo-min.png')top right no-repeat;
margin: 0px 5px 20px 10px;
width: 680px;
height:auto;
font: 12px arial,sans-serif;
line-height: 130%;
float: left;
color: #191919;
position: relative;
}

.page::after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.title{
line-height: 90%;
padding-bottom: 3px;
border-bottom:1px solid #e0e0e0;
position: relative;	
}

.title span{
font: bold 20px "Trebuchet MS", sans-serif;
color: #909090;
position: relative;
top: 0;
left: 0;	
}

*{
	margin:0;
	padding:0;
}

body{
	padding: 0;
	display: block; 
	margin:0; 
	border: none; 
	clear:both; 
	background: url('../../../images/bg-pattern.png');
	font: 12px "Trebuchet MS", sans-serif;	
}
	.menu{
	margin: 0 auto;
	height:36px; 
	width:948px; 
	background: #ebede8;
	border-radius: 0px 0px 5px 5px;
	border-bottom: 1px solid #d3d5d1;
	} 
		.menu ul{
			list-style:none;
		}
			.menu li{			
				list-style:none;
				display: inline-block;
				display: -moz-inline-stack;
				float:left;
				height:36px;
				line-height:36px;
				display : inline;
				zoom : 1;
			}
				.menu li a{
					list-style:none;
					display: block;
					color:#333;
					text-shadow: ffffff 2px 1px 1px,  0 0 0em;
					font-weight:bold;
					font-size:12px;
					text-decoration:none;
					padding:0 7px;	
				}
					.menu li a:hover{
						color:#1b7fb2;
						text-decoration:none;
						background: whiteSmoke;
					}
				.menu li a.current{
					list-style:none;
					display: block;
					color:#1b7fb2;
					background:url(../../../images/menu_035_h.jpg) repeat-x;
					font-size:12px;
					font-weight:bold;
					line-height:36px;
					text-decoration:none;
					padding:0 7px;	
				}
					.menu li a:hover.current{
						color:#333;
					}
					
		.navbar-item-sub {
		  display:            none;
		  position:           absolute !important;
		  z-index:            1000;
		  /*width:              676px;*/
		  width:              auto;
		  float:              left;
		  border:             1px solid #1b7fb2;
		  background:         none #ffffff;

		  -webkit-box-shadow: 0px 0px 3px #333;
		  -moz-box-shadow:    0px 0px 3px #333;
		  box-shadow:         0px 0px 3px #333;
		}
		.navbar-item-sub ul {
		  border-right:  1px solid #E0E0E0;
		  float:         left;
		  height:        78px;
		  margin:        0px;
		  
		  padding:       5px 5px 0px 5px;
		}
		.navbar-item-sub li {
		  font-family:   Verdana, Geneva, sans-serif;
		  font-size:     11px;
		  margin-bottom: 5px;
		  height: auto;
		  float: none;
		}
		.navbar-item-sub li a {
			color:           #0F2D5F;
			  margin:          0px;
			  padding:         0px;
			  text-decoration: none;
			  white-space:     nowrap;
			  display:         inline;
				font-family:   Verdana, Geneva, sans-serif;
			  font-size:     11px;
			  margin-bottom: 5px;
		}
		.navbar-item-sub li a:hover {
		text-decoration: underline;
		}
		
        div.mark {
            width: 86px;
            position: absolute;
            z-index: 1;
            left: -1px;
            top: -7px;
            height: 3px;
            width: 50px;
            border-bottom: 3px solid #1b7fb2;
            font-size: 0px;
            overflow: hidden;
        }
		.navbar-item-sub .header-engagement {
		  font-family: Verdana, Geneva, sans-serif;
		  font-size:   11px;
		  padding-top: 3px;
		}
		.navbar-item-sub .header-engagement a.red {
		  color:           #990000;
		  font-weight:     normal;
		  text-decoration: none;
		}
		.navbar-item-sub .noimage {
		  height: 80px;
		  width:  285px;
		}
		div#search_block {
		width: 170px;
		margin-top:20px;
		margin-right:20px;
		float: right;		
		
		}
		
		div.search {
		width: 150px;
		height:18px;
		padding: 6px 8px 2px 8px;
		background: url(../../../images/menu_035_bg.jpg) repeat-x;
		width: auto;
		z-index:2;
		}
		
		div.search input[type="text"] {
		border: none;
		width: 100px;
		background: transparent;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		color: #626B73;
		outline: none;
		}
		#find {
		   border:none;
		   height:16px;
		   width:130px;
		   padding:3px 2px 4px 2px;
		   float:left;
		}
		#button {
		float: left;
		width: 15px;
		height: 16px;
		border: none;
		background: url(../../../images/back_topsearch_sbm.png) 0 0 no-repeat;
		margin-left: 5px;
		margin-bottom: 4px;
		cursor: pointer;
		}
				
	
		div.social {
		margin-top:-35;
		float:right;
		z-index:2;
		}					
						
		ul.socseti{
		float: right;
		width: auto;
		height:36px;
		padding: 0px  6px 0 0px;
		list-style: none;}
		
			ul.socseti li{
				float: left;
				font-size: 11px;
				padding: 6px 5px 0 0;
			}
			
			ul.socseti li a{
				text-shadow: 0px 1px 0px #ffffff;*/
				/*filter: dropshadow(color=#ffffff, offx=0, offy=1); */
				text-indent: -9999px;
				outline: none;
				}
			
			ul.socseti li a{
			display: block;
			float: left;
			padding: 4px 0px 0px 24px;
			height: 18px;}
			
			ul.socseti li a.tw {
				background:url(../../../images/back_tm_tw.png) 0 0 no-repeat;
				}

				ul.socseti li a.fb {
				background:url(../../../images/back_tm_fb.png) 0 0 no-repeat;
				}

					ul.socseti li a.vk {
				background:url(../../../images/back_tm_vk.png) 0 0 no-repeat;
				}


						
						div.leftcoloumn{
						position: relative;
						width: 280px;
						float:left;
						}
												
							
							div.leftcoloumn div#direct{
							margin: 0 auto;
							background-image: url('../../../images/tety.jpg');
							float:left; 
							height:80px; 
							width: 80px;
							border-radius: 5px 0 0 5px;
							}  
							
							.direct{
							width: 280px;
							height: 80px;
							}
							
							.nameDirect{
							font-size: 14px;
							padding: 5px 5px 5px 10px;
							height:70px;
							color: #444;
							float:left; 
							width: 185px; 
							background-color: #ebede8;
							border-radius: 0px 5px 5px 0px;
							}
							
							#stdir{
							color: #777;
							margin-top: 5px;
							font-size: 11px;
							}
							
							#rechdir{
							margin: 10px 14px;
							background: url('../../../images/jsdm-top.png') no-repeat;
							}
							
blockquote p{
margin:0;
padding:25px 0 25px 15px;
color:#222;
font-size: 11px;
}

blockquote{
							background: url('../../../images/jsdm-bottom.png') bottom no-repeat;
							}
						
							
							div.ad{
							width: 280px; 
							}
							
							
							.ad1{
margin-bottom: 10px;
width: 280px; 
background: url(../../../images/gb-c2.png) repeat-y;
}

.ad1 .ad2{
background:url(../../../images/gb-t2.png) no-repeat 0 0;
}

.ad1 .ad3{
padding: 6px;
background: url(../../../images/gb-b2.png) no-repeat 0 100%;
}
						
							
						
							
							.ad1 p{	
							font: 15px "Trebuchet MS", Tahoma, Arial, sans-serif;
							color: #444;
							padding: 0px 0px 0px 10px;
							font-weight: bold;
							}
							
							div.ad ul{
							}
							
							div.ad ul li{
							padding: 7px 10px 7px 10px;
							}
							
							div.ad ul li a{
							color: #666;
							}
							
							div.ad ul li span {
							text-decoration:none;
							display: block;
							font-size: .81em;
							padding-top: 3px;
							color: #777;
							}

.content{
			width: 400;
			height:auto;
			float: left;
		}	
		
#content {
margin: 0 4px 0 10px;
width: 400px;
			height:auto;
			float: left;
	}	
		
#slider {
    width: 400px; /* important to be same as image width */
    height: 240px; /* important to be same as image height */
    position: relative; /* important */
	overflow: hidden; /* important */
	margin-bottom: 10px;
}
#sliderContent {
    width: 400px; /* important to be same as image width or wider */
    position: absolute;
	top: 0;
	margin-left: 0;
}
.sliderImage {
    float: left;
    position: relative;
	display: none;
}
.sliderImage span {
    position: absolute;
	font: 10px/15px Arial, Helvetica, sans-serif;
    padding: 10px 13px;
    width: 444px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
	-khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
}
.clear {
	clear: both;
}
.sliderImage span strong {
    font-size: 14px;
}
.top {
	top: 0;
	left: 0;
}
.bottom {
	bottom: 0;
    left: 0;
}
ul { list-style-type: none;}

.shadow{
height: 4px;
background:url(../../../images/shadow.png) no-repeat;
}
							
			#newsimage{
			float: left;
			padding-right:10px;
			}

			div#newstop{
			height:30px; 
			}
			
			ul#news{
			background: #ebede8;
			width: 380px;
			clear:both;
			border-radius: 0px 0px 5px 5px;
			}
			
			ul#news li{
			/*background: #f8f9fb;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f8f9fb');  for IE */
			/*background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#f8f9fb));  for webkit browsers */
			/*background: -moz-linear-gradient(top,  #fdfdfd,  #f8f9fb);  for firefox 3.6+ */
			border-bottom: 1px solid #eeeeee;			
			padding: 5px 5px 5px 5px;
			-moz-transition: all .4s ease-in-out;
			-o-transition: all .4s ease-in-out;
			-webkit-transition: all .4s ease-in-out;
			}
			
			ul#news li a{
			font-family: "Trebuchet MS", sans-serif;
			text-decoration: none;
			color:#555;
			height:auto;
			font-size:14px;
			padding-bottom: 3px;
			}
			
			ul#news li p{
			color: #777;
			padding:2px 2px 0px 0px;
			font-size: 11px;
			height:auto;			
			}
			
			ul#news li a:hover{
			text-decoration: underline;
			}
			
			
			div#span  {
			padding-bottom: 5px;
			font-size: 10px;
			color: #777;
			}
			
			div#span p a {
			font-size: 10px;
			color: #777;
			}
			
			div#span p a:hover {
			color: #222;
			}
			
			.br{
			height: 1px;
			overflow: hidden;
			background: #D3D5D1;
			border-bottom: solid 1px #F5F6F4;
			}
			
			.allnews{
			height: 30px;
			background: #dee0db;
			border-radius: 0 0 5px 5px;
			}
			
			.allnews p{
			padding-left: 15px;
			padding-top: 5px;
			}
			
			.allnews p a{
			text-decoration: underline;
			}
			
.submit2 {
	margin: 10px 0 0 0;
	width: 398px;
	height: 32px;
	padding: 0 0 2px;
	font: 13px "Trebuchet MS", Tahoma, Arial, sans-serif;
outline: none;
	cursor: pointer;
	border-radius: 3px;
	color: #555;	
	background-color: #efefef;
}
.submit2::-moz-focus-inner{border:0}
.submit2:hover {
        color: #555;
text-decoration: none;
	background-color: #ddd;
}
.submit2:active {
	top: 3px;
	background: #ddd;
	box-shadow: inset 0 1px 2px #7F7F7F;
}
			
.right{
float: right;
}

.right1{
margin-bottom: 10px;
width: 250px; 
background: url(../../../images/gb-c.gif) repeat-y;
}

.right1 .right2{
background:url(../../../images/gb-t.gif) no-repeat 0 0;
}

.right1 .right3{
padding: 6px;
background: url(../../../images/gb-b.gif) no-repeat 0 100%;
}

.right1 .top {
height: 4px;
overflow: hidden;
background: url(../../../images/tube-top.png) no-repeat;
}

.right1 .bottom {
height: 4px;
overflow: hidden;
background: url(../../../images/tube-bottom.png) no-repeat;
}

.right1 p{
background: #fff;
font: 15px "Trebuchet MS", Tahoma, Arial, sans-serif;
color: #444;
padding: 0px 0px 0px 10px;
font-weight: bold;
}

#rightcoloumn{
font-family: 12px "Trebuchet MS", sans-serif;
color: #555;
padding: 0px 0px 3px 10px;
font-weight: bold;
}

ul.fakaf  {
background: #fff;
padding: 5px 0px 0px 0px;
}

.fakaf li {
padding: 0 0 5px 0;
font-size: 11px;
padding-left: 10px;
}

.fakaf li  a{
font-family: "Trebuchet MS", sans-serif;
color: #777777;
}

.fakaf li  a:hover{
color: #222222;
}

.fakaf li  a.current{
color: #222222;
}


.footer{
height: 150px;
clear: both;
margin: 0 auto;
padding: 10px 16px 30px 16px;
position: relative;
width: 948px;
background: url('../../../images/out-str.png') repeat 0 0;
}

#footer1 {
clear: both;
margin: 10px 0 0 0;
width: 948px;
height:110px;
background:#aebdcb;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aebdcb', endColorstr='#8e9dab'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#aebdcb), to(#8e9dab)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #aebdcb,  #8e9dab); /* for firefox 3.6+ */
border-radius: 5px 5px 5px 5px;
padding-bottom: 20px;
}

#footer2 {
padding: 20px 32px 30px 32px;
width: auto;
}

.fmenu {
margin: 0 130px 15px 0;
padding: 0 0 0 2px;
}

#f1, #f2 {
float: left;
}

#f3 {
float: right;
margin: 0;
}

#f3 a {
padding-left: 22px;
}

.fmenu div {
background: url('../../../images/bord2.gif') repeat-x 0 100%;
color: #013F6E;
font: 12px/14px arial;
margin: 0px 0 3px;
padding: 0 1px 8px;
text-shadow: 1px 1px lightGrey;
}

#footer1 ul {
list-style: none;
width: 200px;
}
			#footer1 li{			
									color: white;
					font: 11px/13px arial;
					text-decoration: none;
					display: block;
					padding: 1px 0 2px;

			}
			
					#footer1 li a{
					color: #eeeeee;
					font: 11px/13px arial;
					text-decoration: none;
					display: block;
					padding: 1px 0 2px;
					
				}
				
					#footer1 li a:hover{
					color: white;
					font: 11px/13px arial;
					text-decoration: none;
					display: block;
					padding: 1px 0 2px;
					
				}
#samniz{
width: 948px;
float: right;
height: 35px;
background: #2C71A4;
position: relative;
border-radius: 0px 0px 5px 5px;
}
#rap {
color: #f5f5f5;

font: 11px/14px arial;
min-height: 19px;
padding: 11px 13px;
}

#tabs{
padding: 5px 10px 0 10px;
background: #ebede8;
}


.ui-tabs { position: relative; padding: 0 0; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; width: 386; position: inherit;}
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; margin: 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { color:#444; float: left; font-size:14px; text-decoration: none;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
padding: 6px 12px;
background: whiteSmoke;
border-radius: 4px;
border-top: solid 1px #CCC;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {font-weight: bold;  cursor: text;}



/*Все новости*/

.allnews_list{
line-height: 130%;
margin-top: 10px;
}

.allnews_list_margin{
margin-left: 50px;
}

.one_news{
margin-bottom: 25px;
}

.one_news_title a{
font-weight: bold;
color: #191919;
font-size: 16px;
}

.one_news_date, .one_news_more, .one_news_more a{
color: #909090;
margin: 7px 0;
font-size: 11px;
}

.one_news_text{
font-size: 12px;
}
